-- Migration: Fix SQL injection vulnerability in remove_jsonb_key function
-- Description: Adds table whitelist validation and restricts function permissions
-- Created: 2025-10-29
-- Purpose: Address SEC-001 and SEC-002 security vulnerabilities identified in QA review
-- Related: Story 5.4 - Delete/Hide Custom Columns

-- First, revoke the overly permissive grant
REVOKE EXECUTE ON FUNCTION remove_jsonb_key(TEXT, TEXT) FROM authenticated;

-- Replace function with security-hardened version including table whitelist
CREATE OR REPLACE FUNCTION remove_jsonb_key(
  table_name TEXT,
  key_name TEXT
)
RETURNS INTEGER AS $$
DECLARE
  affected_rows INTEGER;
BEGIN
  -- SECURITY: Whitelist allowed tables to prevent SQL injection
  -- Only party data tables should be modifiable via this function
  IF table_name NOT IN ('sodexo_data', 'omc_data', 'payroll_data', 'toplux_data') THEN
    RAISE EXCEPTION 'Invalid table name: %. Only party data tables can be modified.', table_name
      USING HINT = 'Allowed tables: sodexo_data, omc_data, payroll_data, toplux_data';
  END IF;

  -- Execute dynamic UPDATE to remove the key from the JSONB data column
  -- %I provides identifier quoting, %L provides literal quoting (prevents injection)
  EXECUTE format(
    'UPDATE %I SET data = data - %L WHERE data ? %L',
    table_name,
    key_name,
    key_name
  );
  
  -- Get the number of affected rows for audit logging
  GET DIAGNOSTICS affected_rows = ROW_COUNT;
  
  RETURN affected_rows;
END;
$$ LANGUAGE plpgsql SECURITY DEFINER;

-- SECURITY: Grant execute only to service_role (used by API with proper auth checks)
-- Note: In production, consider creating a dedicated api_role for this purpose
-- For now, relying on API-level HR Admin authentication before calling this function
-- DO NOT grant to authenticated role - this would allow external parties to call directly

-- Update comment with security considerations
COMMENT ON FUNCTION remove_jsonb_key(TEXT, TEXT) IS 
  'Removes a specified key from the JSONB data column in party-specific tables. 
   SECURITY: Table parameter is whitelisted to prevent SQL injection. 
   Only callable by service_role - API routes must authenticate HR Admin before invoking.
   Used when deleting custom columns via DELETE /api/admin/columns/[id].';
